<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>predictoR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="forecast long term prediction">
    <meta name="author" content="Matteo Redaelli">

    <!-- Le styles -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <style type="text../css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="../css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>
<%

GET <- req$GET()

sep.decimal.default <- "."
ts.default <- paste(round(runif(20, 2.0, 7.5),2), collapse="\n")
params.default <- "try.models=c('mean','trend','lm','es','arima','naive')
n.ahead=4
range=c(-Inf,Inf)
NA2value=0
n.min=5
naive.values='lastPeriod'
naive.ifConstantLastValues=12
naive.ifConstant0LastValues=12
logtransform=FALSE
stepwise = TRUE
rule='BestAIC'
rule.noMaxCVOver=2
rule.noMaxJumpOver=2
negTo0=FALSE
toInteger=FALSE"

period.freq.default = "2"
period.start.default <- "1990-1"

ts <- ifelse(is.null(GET$ts), ts.default, GET$ts)
params <- ifelse(is.null(GET$params), params.default, URLdecode(GET$params))
period.start <- ifelse(is.null(GET$period.start), 
		       period.start.default, 
                       GET$period.start)
period.freq <- ifelse(is.null(GET$period.freq),
                      period.freq.default, 
                      GET$period.freq)
sep.decimal <- ifelse(is.null(GET$sep.decimail),
                      sep.decimal.default, 
                      GET$sep.decimal)

options(hverbose=FALSE,verbose=FALSE)
%>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">predictoR</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="index.rhtml">Home</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="https://github.com/matteoredaelli/predictoR">predictoR</a></li>
                  <li><a href="http://ltp.googlecode.com">ltp</a></li>
                  <li><a href="http://strategico.googlecode.com">strategico</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <b>predictoR: a tool for Long Term Predictions over time series</b>
        <p>
	  <form class="form-inline">
	    <textarea name="ts" rows="15"><%=ts%></textarea>
	    <textarea name="params" rows="15"><%=params%></textarea>
	    <br />Separator: decimal <input type="text" class="input-small" name="sep.decimal" value="<%=sep.decimal%>">
	    <br />Period: start <input type="text" class="input-small" name="period.start" value="<%=period.start%>"> freq <input type="text" class="input-small" name="period.freq" value="<%=period.freq%>">
	    <br /><br />
	    <button type="submit" class="btn btn-primary btn-large" name="go">Go</button>
	  </form>

<%
  if( !is.null(GET$go)) {

    ts.string <- ts
    if(sep.decimal != ".")
      ts.string = gsub(sep.decimal, ".", ts.string)
    ts.string = gsub("\r\n", ",", ts.string)
    ts.string = gsub("\r", ",", ts.string)
    ts.string = gsub("\n", ",", ts.string)
    ts.string = gsub(" ", "", ts.string)
    ts.string = gsub(",[,]+", ",",  ts.string)

    ts.values <- unlist(lapply(strsplit(ts.string, ","), as.numeric))



    period.start.run <- Period.FromString(period.start)
    period.freq.run <- as.integer(period.freq)

    ts.periods <- Period.BuildRange(period.start.run, period.freq.run, length(ts.values))

    
    params.run <- params
    params.run = gsub("\r", ";", params.run)
    params.run = gsub("\n", ";", params.run)
    params.run = gsub(" ", "", params.run)
    params.run = gsub(";[;]+", ";", params.run)
    eval(parse(text=params.run))

    item.data <- cbind(ts.values)
    rownames(item.data) <-ts.periods
    colnames(item.data) <- "V"

    period.end.string <- rownames(item.data)[ length(ts.periods)]
    period.end.run <- unlist(lapply(strsplit(period.end.string, "-"), as.numeric))
 
    cat("<br />Running ltp ... Be patient, the results will appear below...")

    formula.right.lm <- ifelse(period.freq==1, "trend+trend2", "S*trend+S*trend2")
                                   
    model <- ltp(product = item.data, rule=rule,
               ruleSetting=list(rule.noMaxCVOver=rule.noMaxCVOver,rule.noMaxJumpOver=rule.noMaxJumpOver),
               try.models = try.models, n.ahead = n.ahead, n.min = n.min,
               NA2value = NA2value, range = range, period.freq = period.freq.run,
               period.start = period.start.run, period.end = period.end.run,
               diff.sea=1,diff.trend=1,max.p=2,max.q=1,max.P=0,max.Q=1, logtransform.es=FALSE,
               increment=1 ,idDiff = FALSE, idLog = FALSE,
               formula.right.lm = formula.right.lm,stepwise=stepwise,
               logtransform=logtransform, negTo0=negTo0, toInteger=toInteger,
               naive.values=naive.values,
               naive.ifConstantLastValues=naive.ifConstantLastValues,
               naive.ifConstant0LastValues=naive.ifConstant0LastValues)
   model.df <- modelToListOfDF(model, period.freq=period.freq.run, param=Param.FromString(params.run), id=1)

   model.html5 <- modelToHtml5(model, period.freq=period.freq.run, 
		  param=Param.FromString(params.run), id=1, 
		  img.options=list(width=850, height=500, legend="bottom", gvis.editor="Editor"))
   cat(model.html5)

  }

%>

	</p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>predictoR</h2>
          <p>predictoR is a forecasting tool written in <a href="http://www.r-project.org/">R</a></p>
        </div>
        <div class="span4">
          <h2>LTP</h2>
          <p>LTP, <a href="http://ltp.googlecode.com">Long Term Prediction</a>, is a R package that automatically finds the best model that fits each kind of time series. The implemented models are
	    <ul>
	      <li>Mean</li>
	      <li>Trend</li>
	      <li>Linear</li>
	      <li>Exponential smoothing</li>
	      <li>Arima</li>
	      <li>Naive</li>
           </ul>
         </p>
       </div>
        <div class="span4">
          <h2>Free Software</h2>
          <p><a href="http://www.fsf.org/about/what-is-free-software">Free software</a> is software that gives you the user the freedom to share, study and modify it. We call this free software because the user is free...</p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Matteo Redaelli 2012, GPL V3+ license</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../js/bootstrap.js"></script>
  </body>
</html>
